/*Colors*/
/*#93B7BE - Pewter Blue*/
/*#554348 - Purple Taupe*/
/*#D4F5F5 - Azurish White*/
/*#8C9A9E - Spanish Gray*/
/*#747578 - Sonic Silver*/


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Armata|Righteous|Snippet');
/*font-family: 'Righteous', cursive;
font-family: 'Armata', sans-serif;
font-family: 'Snippet', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(181, 199, 207, 0.74);
    font-family: 'Armata', sans-serif;
    color: #4b6377;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    margin-bottom: 1.5em;
}

/*NavBar*/
.navbar {
    font-family: 'Righteous', sans-serif;;
}

.navbar-default {
    background: #1b6d85;
    border: none;
}
.navbar-default .navbar-nav>li a {
    color: white;
}

.navbar-default .navbar-nav>li a:hover, .brand-logo:hover{
    font-weight: bolder;
    background-color: #409fc9;
    color: #f86d39;
    transition: color .5s, background-color .5s;
}

.brand-logo {
    max-width: 50px;
}

/*Header*/
header {
    padding: 0 auto;
    height: 0;
}

.name{
    font-size: 5em;
    color: #2f5c68;
    position: relative;
    top: 150px;
    margin-bottom: 0;
}

/*Main*/
section {
    padding-top: 0;
    padding-bottom: 70px;
}
.section-title {
    position: relative;
    bottom: 175px;
}

.section-title>h2 {
    text-decoration: underline;
    font-size: 5em;
    color: #fff8fa;
    margin-bottom: 0;
}

.spacer-1 {
    height: 500px;
    background: url("../media/images/bg-mtn-lg.jpg") no-repeat center fixed;
    background-size: cover;
}

.spacer-2 {
    height: 300px;
    background: url("../media/images/bg-key-lg.jpg") no-repeat center fixed;
    background-size: cover;
}

.spacer-3 {
    height: 300px;
    background: url("../media/images/bg-code-md.jpg") no-repeat center fixed;
    background-size: cover;
}

.spacer-4 {
    height: 300px;
    background: url("../media/images/bg-education-lg.jpg") no-repeat center fixed;
    background-size: cover;
}

.spacer-5 {
    height: 300px;
    background: url("../media/images/bg-bear-lg.jpg") no-repeat center fixed;
    background-size: cover;
}

.skill-list {
    list-style: none;
    padding: 0;
}

.skill-icon {
    font-size: 5em;
}

/*Portfolio*/
.project {
    margin-bottom: 50px;
    padding: 0;
}

.project-gif {
    width: 500px;
    max-width: 95%;
    max-height: 80%;
}

.project-description {
    margin-top: 95px;
}

h4 {
    margin-top: 1.5em;
}

/*Education*/
.education-logo {
    width: 80%;
}

.education-li {
    font-size: 1.5em;
}

/*Contact*/
.contact-li {
    margin: 10px 3em;
}

.contact-icon {
    width: 50px;
}



@media screen and (max-width: 990px) {

    .project-description {
        margin-top: 10px;
    }

}

@media screen and (max-width: 700px) {
    h3,
    h4 {
        font-size: 1.3em;
    }

    .name {
        font-size: 3em;
    }
}


@media screen and (max-width: 350px) {
    .name {
        font-size: 1.5em;
    }

    .section-title>h2 {
        font-size: 3em;
    }

    .project-description {
        margin-top: 10px;
    }

}
