/*Colors*/
/*#93B7BE - Pewter Blue*/
/*#554348 - Purple Taupe*/
/*#D4F5F5 - Azurish White*/
/*#8C9A9E - Spanish Gray*/
/*#747578 - Sonic Silver*/


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Armata|Righteous|Snippet');
/*font-family: 'Righteous', cursive;
font-family: 'Armata', sans-serif;
font-family: 'Snippet', sans-serif;*/


/*Navigation Bar*/
.navigation-bar-main {
    background-color: rgba(0, 0, 0, 0.2); /* Black background color */
    position: fixed; /* /fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 1;
}

/* Style the navbar links */
.navigation-bar-main a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: background-color .4s, color 1s, border 1s;
}

.navigation-bar-main a:hover {
    background-color: #b7b7b7;
    color: black;
    border: 1px solid white;
}

.navigation-bar {
    margin-bottom: 0;
    font-size: 1em;
}
/*Navigation bar img*/
.img-logo {
    width: 40px;
}

/*!*Main Background*! */
/*Add break point for the medium -> lg bg*/
.bg-main {
    background: url("../images/bg-key-md.jpeg") no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/*Main Section*/
main {
    color: white;
}

/*Title section*/
.title-section {
    position: relative;
    top: 35vh;
}

@media screen and (min-width: 768px) {

    /*Navigation Bar*/
    .navigation-bar {
        font-size: 1.3em;
    }

    /*Title/Main Section*/
    .title-section {
        top: 20vh;
        transition: top 2s;
    }


}

@media screen and (min-width: 970px) {

    /*Navigation Bar*/
    .navigation-bar {
        font-size: 1.7em;
    }
    .img-logo {
        width: 69px;
    }


}



